/* RESET */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: currentColor;
}

button {
	border: none;
	background-color: transparent;
}

menu,
ul,
ol {
	list-style: none;
}

body {
	font-family: 'Open Sans';
}

/* layout */

.container-lg,
.container,
.container-sm {
    margin: 0 auto;
}

.container-lg {
    width: 100%;
}

.container {
    max-width: 1220px;
}

.container-sm {
    max-width: 1000px;
}


.row{
    display: flex;
}

.nav-list {
    display: flex;
    gap: 20px;
    align-content: center;
    padding: 10px;
}

.blue-btn {
    line-height: 30px; 
    color: white;
    background-color: #0061FF;
    padding: 0px 20px; 
}

.col-3 {
    width: calc(4 * 100% / 12);
}

.col-4 {
    width: calc(4 * 100% / 12);
}

.col-5 {
    width: calc(5 * 100% / 12);
}

.col-7 {
    width: calc(7 * 100% / 12);
}

.col-8 {
    width: calc(8 * 100% / 12);
}

.col-9{
    width: calc(9 * 100% / 12);
}



/* header */

header .row{
    justify-content: space-between;
    align-items: center;
}

/* Top section */

.top-title {
    font-size: 80px;
    font-weight: bold;
    margin-top: 30px;
}

.col-4 .top-arrow{
    margin-top: auto;
    font-size: 60px;
}

.top-section{
    background-color: #B4D0E7;
}

.top-section .col-4{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.col-4 > *{
    font-size: 18px;
}

.top-content{
    margin-top: 40px;
}

.col-4 .blue-btn{
    padding: 5px 20px;
    font-size: 18px;
}

/* subscription section */

.sub-title, .invoice{
    margin-top: 30px;
}

h2 {
    font-size: 40px;
    font-weight: 700;
}

h3 {
    font-size: 25px;
}


.card{
    margin-top: 30px;
}

.card-body {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.card-head {
    text-align: center;
    border-bottom: 1px solid #E5E5E7;
    padding: 10px 0px;
}

.card-sub{
    display: flex;
    flex-direction: column;
    border: 1px solid #E5E5E7;
}

.card-foot {
    border-top: 1px solid #E5E5E7;
    padding: 30px;
    min-height: 400px;
}

.card-sub .blue-btn {
    padding: 10px 5px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.card-body-list {
    padding-top: 30px;
}

.card-foot-list{
    margin-top: 20px;
}

.card-body-list > li, .card-foot-list > li{
    display: flex;
    padding: 10px 0px;
}

.card-body-list li > i, .card-foot-list li> i{
    padding-right: 7px;
}

.card-foot-list li> i{
    color: #0061FF;
}

/* contact section */

.contact {
    margin-top: 30px;
}

.contact-body .row .col-3{
    text-align: center;
}

.contact-body .row .col-9{
    padding: 30px;
}

.col-3 .blue-btn{
    margin-top: 20px;
}

.solution{
    margin-top: 40px;
}

.contact-office{
    margin-top: 20px;
}

/* partner section */

.partner{
    margin-top: 90px;
}

.partner-des{
    margin-top: 20px;
}

.partner-btn {
    line-height: 30px; 
    padding: 0px 20px; 
    border: 1px solid black;
    margin-top: 40px;
}

.partner .container-sm .row .col-5{
    padding: 60px 40px;
}

/* Business section */

.business{
    margin-top: 100px;
}

.card-business{
    padding: 20px 0px;
}

.business .container-sm .row{
    flex-wrap: wrap;
}

.business-body{
    display: flex;
    flex-direction: column;
}

/* partner section */
.utilize .container-sm{
    padding-right: 230px;
    margin-top: 150px;
}

.utilize-more {
    margin-bottom: 50px;
}

/* debug */

.debug .container-lg {
    border: 1px solid purple;
}

.debug .container {
    border: 1px solid rgb(0, 128, 75);
}

.debug .container-sm {
    border: 1px solid rgb(0, 68, 128);
}
